<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <springProfile name="local">
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>
  <springProfile name="dev">
    <property resource="application-dev.yml"/>
    <springProperty name="DISCORD_WEBHOOK_URL" source="logging.discord.webhook-url"/>
    <appender name="DISCORD" class="com.github.napstr.logback.DiscordAppender">
      <webhookUri>${DISCORD_WEBHOOK_URL}</webhookUri>
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%d{HH:mm:ss} [%thread] [%-5level] %logger{36} - %msg%n```%ex{full}```</pattern>
      </layout>
      <username>감자야...에러 났대...</username>
      <avatarUrl>https://jjal.today/data/file/gallery/1889155643_NZHvkRLz_e0292b65bb682075bfdb752a4d8f4062f0b7738a.png</avatarUrl>
      <tts>false</tts>
    </appender>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        <charset>utf8</charset>
      </encoder>
    </appender>

    <appender name="ASYNC_DISCORD" class="ch.qos.logback.classic.AsyncAppender">
      <appender-ref ref="DISCORD" />
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>ERROR</level>
      </filter>
    </appender>

    <root level="INFO">
      <appender-ref ref="ASYNC_DISCORD"/>
      <appender-ref ref="Console"/>
    </root>
  </springProfile>
  <springProfile name="prod">
    <property resource="application-prod.yml"/>
    <springProperty name="DISCORD_WEBHOOK_URL" source="logging.discord.webhook-url"/>
    <appender name="DISCORD" class="com.github.napstr.logback.DiscordAppender">
      <webhookUri>${DISCORD_WEBHOOK_URL}</webhookUri>
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%d{HH:mm:ss} [%thread] [%-5level] %logger{36} - %msg%n```%ex{full}```</pattern>
      </layout>
      <username>감자야...에러 났대...</username>
      <avatarUrl>https://jjal.today/data/file/gallery/1889155643_NZHvkRLz_e0292b65bb682075bfdb752a4d8f4062f0b7738a.png</avatarUrl>
      <tts>false</tts>
    </appender>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        <charset>utf8</charset>
      </encoder>
    </appender>

    <appender name="ASYNC_DISCORD" class="ch.qos.logback.classic.AsyncAppender">
      <appender-ref ref="DISCORD" />
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>ERROR</level>
      </filter>
    </appender>

    <root level="INFO">
      <appender-ref ref="ASYNC_DISCORD"/>
      <appender-ref ref="Console"/>
    </root>
  </springProfile>
</configuration>
